/* hero section */
.hero-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero-section {
  padding-top: 130px;
}

.hero-section img {
  border-style: none;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 440px;
  display: block;
}
