.aboutme-container {
  display: grid;
  flex-direction: column;
  flex-flow: wrap;
  border: solid;
  margin: 5%;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 10px 10px 0px rgb(0 0 0 / 40%), -10px -10px 0px rgb(255 114 114 / 80%);
  h2 {
    justify-self: center;
  }
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.aboutme-list {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
}
