.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  border: solid;
  margin: 5%;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 10px 10px 0px rgb(0 0 0 / 40%), -10px -10px 0px rgb(255 114 114 / 80%);
}

.projects-container-row {
  display: flex;
}

.project-text {
  position: absolute;
  height: 65px;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
  transform: 0.2s;
  padding: 20px;
}

.project-text:hover {
  height: 175px;
  transition: 0.3s;
}

.project-text h3 {
  margin-top: 3px;
}

.project-button {
  border: 5px solid lightblue;
  border-radius: 10px;
  width: 160px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.usarealestate-project {
  width: 400px;
  height: 400px;
  background: white;
  position: relative;
  border-radius: 10px;
  background-image: url("../../../assets/USARealEstatePredictionModel.png");
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.bbc-project {
  width: 400px;
  height: 400px;
  background: white;
  position: relative;
  border-radius: 10px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}
