.experience-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 24px;
}

.experience-container h2 {
  font-size: 30px;
  margin-bottom: 24px;
}

.experience-tabs-wrap {
  border-bottom: 1px solid var(--border);
}

.experience-container p {
  font-size: 16px;
  margin-top: 24px;
}

.experience-container h3 {
  font-size: 18px;
  margin-top: 6px;
}

.experience-container a:hover h3 {
  color: var(--accent);
}
