.footer-container {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #1f2027;
}

.social-media-list {
  margin-left: auto;
}

.social-media-list a i {
  color: white;
  transition: 0.2s;
}

.social-media-list a i:hover {
  color: lightblue;
  transition: 0.2;
}

.copyright {
  color: white;
}
